body {
  margin: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
}

.container {
  margin: 0 auto;
  width: 570px;
}

h1,
h2 {
  font-weight: 300;
  margin-top: 0;
}

h1 {
  font-size: 60px;
  margin-top: 0;
}

h2 {
  font-size: 42px;
  padding: 24px 0;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}

h3 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

h1 .heading {
  display: block;
  font-size: 80px;
  font-weight: 900;
  color: #99d930;
}

h2 .heading {
  display: block;
  font-size: 60px;
  font-weight: 900;
  color: #99d930;
}

.author {
  font-size: 16px;
  margin-top: 5px;
}

.author span {
  color: #99d930;
}

a {
  color: #99d930;
}

a:hover {
  color: #131313;
}

header,
.about-me,
.articles {
  padding: 100px 0;
}

.dark-mode {
  background-color: #252525;
  color: #fff;
}

.btn {
  background-color: #99d930;
  color: #252525;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 25px;
  border-radius: 5px;
  margin-top: 25px;
  font-size: 1.05rem;
}

.btn.btn-about:hover,
.btn.btn-about:focus {
  background-color: #252525;
  color: #fff;
}

.btn.btn-article:hover,
.btn.btn-article:focus {
  background-color: #fff;
  color: #252525;
}
