* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Karla", sans-serif;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 2em;
  background-color: #023047;
  z-index: 1;
}

.navbar {
  margin-top: 248px;
  margin-left: 32px;
  margin-right: 32px;
}

.profile_image_container {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 2rem;
  border: 5px solid #33658a;
  background-image: url(img/vijay.png);
  background-size: cover;
}

.profile_image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.nav_links {
  padding: 0;
  text-align: center;
}

.nav_links li {
  list-style: none;
  padding: 10px;
}

.nav_links li a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
}

.nav_links li a:hover {
  color: rgba(255, 255, 255, 1);
}

section {
  height: 100vh;
  /* max-width: 95%; */
  padding-left: 300px;
}

.about {
  margin-top: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile_title_name {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 0;
}

.blue {
  color: #023047;
}

.profile_address {
  margin-top: 4px;
  margin-bottom: 40px;
}

.social_network {
  margin-top: 40px;
  display: flex;
}

.social {
  margin-right: 25px;
  background-color: #33658a;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social:hover {
  background-color: #023047;
}

.education_container {
  display: flex;
  justify-content: space-between;
}
